// Главный файл стилей
@use "./admin/reset";
@use "./admin/global";
@use "./admin/h2";
@use "./blocks/mgu-main";
@use "./blocks/mgu-advantages";

.development {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  transition: all 0.3s ease;

  &.is-selected {
    border-color: #007cba;
    background-color: rgba(0, 124, 186, 0.05);
  }
  .advanced-block {
    display: block;
    width: 100%;
    .block-info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 24px;
      padding: 4px 12px;
      background-color: rgba(0, 124, 186, 0.25);
      border-radius: 8px;
      box-sizing: border-box;
      .block-info-title {
        display: block;
        width: 100%;
        max-width: 280px;
      }
      .components-radio-control {
        display: block;
        width: 100%;
        max-width: calc(100% - 320px);
        .components-base-control__label {
          display: none;
        }
        .components-flex {
          flex-wrap: wrap;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row;
          width: 100%;
          .components-radio-control__option {
            max-width: max-content;
          }
        }
      }
    }
    .rich-texts {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      width: 100%;
      .rich-text {
        max-width: calc(50% - 4px);
        margin-bottom: 8px;
        [role="textbox"].rich-text {
          max-width: 100%;
        }
      }
    }
    .components-base-control {
      display: block;
      width: 100%;
    }
    .rich-text {
      display: block;
      width: 100%;
    }
    .block-label {
      display: block;
      width: 100%;
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      line-height: 1.4;
      color: rgba(0, 0, 0, 0.7);
    }
    [role="textbox"],
    textarea {
      margin-top: 0;
      padding: 4px 12px;
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.7);
      border: 1px solid rgba(0, 124, 186, 0.25);
      border-radius: 8px;
    }
    .items-control {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 8px;
      width: 100%;
      margin-bottom: 8px;
      .items-control__buttons {
        display: block;
        width: 100%;
        max-width: 60px;
      }
      .components-button {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-inline: 4px;
        padding: 0px;
        font-size: 12px;
        line-height: 18px;
        &:disabled {
          opacity: 0.5;
        }
        &:hover {
          background-color: rgba(0, 124, 186, 0.25);
        }
      }
      .components-button.is-destructive {
        max-width: calc(100% - 70px);
        &:hover {
          background-color: rgba(red, 0.25);
        }
      }
    }
    .video-section {
      .block-label {
        margin-bottom: 8px;
      }
      .video-controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;
        gap: 8px;
        margin-bottom: 24px;
        .video-upload,
        .video-poster {
          display: block;
          width: 100%;
          max-width: calc(33% - 8px);
          video,
          img {
            display: block;
            width: 100%;
            height: inherit;
            aspect-ratio: 16 / 9;
          }
          .video-actions {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: stretch;
            margin-top: 8px;
          }
          .components-button {
            display: block;
            width: 100%;
            max-width: 60%;
            padding: 4px;
            font-size: 11px;
            border: 1px solid #007cba;
            border-radius: 8px;
            &.is-destructive {
              max-width: 36%;
            }
          }
        }
      }
    }
    .repeater-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 24px;
      .repeater-item {
        display: block;
        width: 100%;
        max-width: calc(33% - 4px);
        padding: 8px;
        background-color: rgba(0, 124, 186, 0.25);
        border-radius: 10px;
        &.repeater-item-full {
          max-width: 100%;
        }
      }
      .repeater-image {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        .components-button.is-primary {
          display: block;
          width: 100%;
          height: inherit;
          min-height: auto;
        }
      }
      .repeater-image-controls {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        margin-bottom: 8px;
        .components-button.is-primary.is-small,
        .components-button.is-secondary.is-small {
          display: block;
          height: inherit;
          min-height: auto;
          padding: 4px;
          font-size: 12px;
          line-height: 1.2;
          border-radius: 4px;
        }
        .components-button.is-primary.is-small {
          width: 100%;
        }
        .components-button.is-secondary.is-small {
          width: 48%;
        }
      }
      .add-repeater-item {
        display: block;
        width: 100%;
        padding: 8px;
        background-color: rgba(0, 124, 186, 0.25);
        border-radius: 10px;
      }
    }
    .selected-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: safe;
      align-items: stretch;
      gap: 8px;
      width: 100%;
      .selected-category {
        display: block;
        width: 100%;
        max-width: calc(33% - 4px);
        padding: 12px;
        background-color: rgba(0, 124, 186, 0.25);
        border-radius: 10px;
        .category-name,
        .category-description {
          display: block;
          width: 100%;
          margin-bottom: 8px;
          font-weight: 600;
          font-size: 15px;
          line-height: 1.3;
          color: #222222;
        }
        .category-description {
          margin-bottom: 16px;
          font-size: 14px;
          font-weight: 400;
          color: #222222;
          opacity: 0.8;
        }
      }
    }
    .block-faq {
      display: block;
      width: 100%;
      padding: 16px;
      background-color: rgba(0, 124, 186, 0.25);
      border-radius: 8px;
    }
  }

  .custom-list {
    position: relative;
    display: block;
    width: 100%;
    margin: 3px 0;
    padding-left: 24px;
    &:before {
      content: "";
      position: absolute;
      top: 9px;
      left: 5px;
      display: block;
      width: 6px;
      height: 6px;
      background-color: #222222;
      border-radius: 12px;
    }
    + br {
      display: none;
    }
  }
}

.help-video-modal {
  width: 980px;
}

.block-editor-block-list__block {
  margin-block: 0 !important;
}
