.block-13 {
  position: relative;
  padding-block: 220px 90px;
  background-color: #f8f9fe;
  z-index: 40;
  .block-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 260px;
    .block-line {
      position: absolute;
      display: block;
      height: 24px;
      background-color: var(--white-color);
      &.block-line-01 {
        top: 0;
        left: 0;
        width: 120px;
      }
      &.block-line-02 {
        top: 0;
        left: 240px;
        width: 170px;
      }
      &.block-line-03 {
        top: 0;
        left: 480px;
        width: 90px;
      }
      &.block-line-04 {
        top: 0;
        left: 780px;
        width: 290px;
      }
      &.block-line-05 {
        top: 0;
        left: 1090px;
        width: 190px;
      }
      &.block-line-06 {
        top: 0;
        left: 1390px;
        width: 80px;
      }
      &.block-line-07 {
        top: 0;
        left: 1590px;
        width: 280px;
      }
      &.block-line-08 {
        top: 54px;
        left: 90px;
        width: 280px;
      }
      &.block-line-09 {
        top: 54px;
        left: 390px;
        width: 180px;
      }
      &.block-line-10 {
        top: 54px;
        left: 640px;
        width: 130px;
      }
      &.block-line-11 {
        top: 54px;
        left: 800px;
        width: 20px;
      }
      &.block-line-12 {
        top: 54px;
        left: 890px;
        width: 120px;
      }
      &.block-line-13 {
        top: 54px;
        left: 1040px;
        width: 220px;
      }
      &.block-line-14 {
        top: 54px;
        left: 1300px;
        width: 170px;
      }
      &.block-line-15 {
        top: 54px;
        left: 1490px;
        width: 240px;
      }
      &.block-line-16 {
        top: 54px;
        left: 1780px;
        width: 40px;
      }
      &.block-line-17 {
        top: 120px;
        left: 20px;
        width: 40px;
      }
      &.block-line-18 {
        top: 120px;
        left: 220px;
        width: 340px;
      }
      &.block-line-19 {
        top: 120px;
        left: 580px;
        width: 120px;
      }
      &.block-line-20 {
        top: 120px;
        left: 780px;
        width: 170px;
      }
      &.block-line-21 {
        top: 120px;
        left: 980px;
        width: 270px;
      }
      &.block-line-22 {
        top: 120px;
        left: 1280px;
        width: 70px;
      }
      &.block-line-23 {
        top: 120px;
        left: 1480px;
        width: 170px;
      }
      &.block-line-24 {
        top: 120px;
        left: 1680px;
        width: 220px;
      }
    }
  }
  .block-content {
    display: block;
    width: 100%;
    max-width: 580px;
    .h2 {
      margin-bottom: 40px;
    }
    .block-item {
      gap: 16px;
      .block-item__icon {
        display: block;
        width: 24px;
        height: 24px;
        object-fit: contain;
      }
      .descr {
        display: block;
        width: 100%;
        max-width: calc(100% - 42px);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 22px;
        color: var(--black-color);
      }
      &:not(:last-child) {
        margin-bottom: 32px;
      }
    }
  }
  .block-policy {
    max-width: calc(100% - 880px);
    .block-item {
      display: block;
      width: 100%;
      max-width: calc(50% - 20px);
      .block-item__icon {
        display: block;
        width: 42px;
        height: 42px;
        margin-bottom: 24px;
        object-fit: contain;
      }
      .descr {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        color: var(--gray-color);
      }
    }
  }
}

@media (max-width: 1680px) {
  .block-13 .block-policy {
    max-width: calc(100% - 640px);
  }
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-13 .block-content {
    max-width: 500px;
  }
  .block-13 .block-policy {
    max-width: calc(100% - 540px);
  }
}
@media (max-width: 991px) {
  .block-13 .block-content,
  .block-13 .block-policy {
    max-width: 100%;
  }
  .block-13 .block-content {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-13 .block-content .block-item .descr {
    font-size: 18px;
  }
  .block-13 .block-policy .block-item {
    max-width: 100%;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  .block-13 .block-policy .block-item .block-item__icon {
    margin-bottom: 16px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
