.block-19 {
  position: relative;
  padding-block: 10 60px;
  z-index: 40;
  .container {
    gap: 60px 0;
  }
  .block-item {
    position: relative;
    .block-item__content {
      display: block;
      width: 100%;
      max-width: 600px;
      padding: 40px;
      background-color: #f8f7ff;
      border-radius: 10px;
      *:not(:last-child) {
        margin-bottom: 40px;
      }
      .h2 {
        line-height: 1.3;
      }
      .block-wrap {
        display: block;
        width: 100%;
        .block-wrap__label {
          position: relative;
          display: block;
          width: 100%;
          margin-bottom: 4px;
          padding-left: 24px;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 17px;
          line-height: 1.3;
          color: var(--accent-color);
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            transform: translateY(-50%);
          }
          &.icon-user:before {
            background: url("../img/icons/icon-user.svg") center / contain no-repeat;
          }
          &.icon-location:before {
            background: url("../img/icons/icon-location.svg") center / contain no-repeat;
          }
        }
        .block-wrap__descr {
          display: block;
          width: 100%;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 24px;
          line-height: 1.3;
          color: var(--black-color);
        }
      }
    }
    .block-item__gallery {
      position: relative;
      display: flex;
      gap: 8px;
      max-width: calc(100% - 620px);
      scroll-behavior: smooth;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      .slide {
        scroll-snap-align: start;
        scroll-snap-stop: always;
        flex: 0 0 100%;
        display: block;
        height: 540px;
        object-fit: cover;
        border-radius: 10px;
        cursor: zoom-in;
      }
    }
    .block-item__gallery::-webkit-scrollbar {
      display: none;
    }
    .block-item__gallery::scroll-button(right),
    .block-item__gallery::scroll-button(left) {
      content: "";
      position: absolute;
      bottom: 20px;
      display: block;
      width: 44px;
      height: 44px;
      background: transparent url(../img/icons/icon-arrow-slide.svg) center / contain no-repeat;
      border: none;
      cursor: pointer;
    }
    .block-item__gallery::scroll-button(left) {
      right: 90px;
    }
    .block-item__gallery::scroll-button(right) {
      right: 30px;
      transform: rotate(180deg);
    }
    .block-item__gallery::scroll-button(right):disabled,
    .block-item__gallery::scroll-button(left):disabled {
      opacity: 0.5;
      cursor: auto;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block-19 .block-item .block-item__content {
    max-width: 480px;
    padding: 28px;
  }
  .block-19 .block-item .block-item__gallery {
    max-width: calc(100% - 500px);
  }
  .block-19 .block-item .block-item__gallery .slide {
    height: 440px;
  }
}
@media (max-width: 1199px) {
  .block-19 .container {
    gap: 40px 0;
  }
  .block-19 .block-item .block-item__content {
    max-width: 400px;
    padding: 24px;
    .h2 {
      font-size: 28px;
    }
  }
  .block-19 .block-item .block-item__content .block-wrap .block-wrap__descr {
    font-size: 19px;
  }
  .block-19 .block-item .block-item__gallery {
    max-width: calc(100% - 420px);
  }
  .block-19 .block-item .block-item__gallery .slide {
    height: 380px;
  }
}
@media (max-width: 991px) {
  .block-19 .block-item .block-item__content {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .block-19 .block-item .block-item__content *:not(:last-child) {
    margin-bottom: 24px;
  }
  .block-19 .block-item .block-item__gallery {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .block-19 .block-item .block-item__content {
    padding: 18px;
  }
  .block-19 .block-item .block-item__content .h2 {
    font-size: 26px;
  }
  .block-19 .block-item .block-item__gallery .slide {
    height: 310px;
  }
}
@media (max-width: 576px) {
  .block-19 .block-item .block-item__content {
    padding: 16px;
  }
  .block-19 .block-item .block-item__content .h2 {
    font-size: 24px;
  }
  .block-19 .block-item .block-item__gallery .slide {
    height: 280px;
  }
  .block-19 .block-item .block-item__gallery::scroll-button(right),
  .block-19 .block-item .block-item__gallery::scroll-button(left) {
    bottom: 14px;
  }
  .block-19 .block-item .block-item__gallery::scroll-button(right) {
    right: 14px;
  }
  .block-19 .block-item .block-item__gallery::scroll-button(left) {
    right: 70px;
  }
}
@media (max-width: 460px) {
  .block-19 .block-item .block-item__content {
    padding: 14px;
  }
  .block-19 .block-item .block-item__content .h2 {
    font-size: 22px;
  }
  .block-19 .block-item .block-item__gallery .slide {
    height: 240px;
  }
}
@media (max-width: 400px) {
  .block-19 .block-item .block-item__content {
    padding: 12px;
  }
  .block-19 .block-item .block-item__content .h2 {
    font-size: 20px;
  }
  .block-19 .block-item .block-item__gallery .slide {
    height: 220px;
  }
}
