.block-03 {
  position: relative;
  width: 100%;
  z-index: 40;
  .container {
    max-width: calc(100% - 20px);
    padding-block: 16px;
    background-color: #f5f2f2;
    border-radius: 10px;
  }
  .h2 {
    text-align: center;
  }
}
