.block-15 {
  position: relative;
  padding-block: 60px;
  z-index: 40;
  .container {
    gap: 24px;
  }
  .block-item {
    max-width: 40%;
    background-color: #f1f4fa;
    border-radius: 24px;
    padding: 12px;
    .block-item__icon {
      width: 142px;
      height: 142px;
      background-color: #fff;
      border-radius: 16px;
      img {
        display: block;
        width: 44px;
        height: 44px;
        object-fit: contain;
      }
    }
    .block-item__content {
      display: block;
      width: 100%;
      max-width: calc(100% - 160px);
      .block-item__label {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 15px;
        color: var(--gray-color);
      }
      .block-item__descr {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 26px;
        color: var(--black-color);
      }
    }
    &:nth-child(2n + 1) {
      max-width: 58%;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block-15 .block-item:nth-child(2n + 1) {
    max-width: calc(60% - 24px);
  }
  .block-15 .block-item .block-item__icon {
    width: 114px;
    height: 114px;
  }
  .block-15 .block-item .block-item__content {
    max-width: calc(100% - 140px);
  }
}
@media (max-width: 1199px) {
  .block-15 .block-item:nth-child(2n + 1) {
    max-width: calc(60% - 24px);
  }
  .block-15 .block-item .block-item__icon {
    width: 94px;
    height: 94px;
  }
  .block-15 .block-item .block-item__content {
    max-width: calc(100% - 110px);
  }
  .block-15 .block-item .block-item__content .block-item__descr {
    font-size: 21px;
  }
}
@media (max-width: 991px) {
  .block-15 .block-item,
  .block-15 .block-item:nth-child(2n + 1) {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-15 .block-item .block-item__icon {
    width: 74px;
    height: 74px;
  }
  .block-15 .block-item .block-item__icon img {
    width: 32px;
    height: 32px;
  }
  .block-15 .block-item .block-item__content {
    max-width: calc(100% - 90px);
  }
  .block-15 .block-item .block-item__content .block-item__descr {
    font-size: 18px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
