.block-03 {
  position: relative;
  width: 100%;
  z-index: 40;
  .container {
    max-width: calc(var(--container) - 20px);
    padding-block: 16px;
    background-color: var(--bg-block);
    border-radius: 10px;
  }
  .h2 {
    text-align: center;
  }
}
