.block-07 {
  position: relative;
  margin-top: 80px;
  padding-block: 60px 40px;
  z-index: 40;
  .slider-videos {
    display: flex;
    gap: 16px;
    margin-left: calc((100% - var(--container) + 20px) / 2);
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    .slide {
      scroll-snap-align: start;
      scroll-snap-stop: always;
      flex: 0 0 434px;
      display: block;
      width: 434px;
      padding: 8px;
      border-radius: 10px;
      background-color: var(--accent-02);
      iframe {
        display: block;
        width: 100%;
        height: inherit;
        margin-bottom: 8px;
        aspect-ratio: 16 / 9;
        border-radius: 10px;
      }
      .slide-descr {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--white-color);
      }
    }
  }
  .slider-videos::-webkit-scrollbar {
    display: none;
  }
  .slider-videos::scroll-button(right),
  .slider-videos::scroll-button(left) {
    content: "";
    position: absolute;
    top: 0px;
    display: block;
    width: 44px;
    height: 44px;
    background: transparent url(../img/icons/icon-arrow-slide.svg) center / contain no-repeat;
    border: none;
    cursor: pointer;
  }
  .slider-videos::scroll-button(left) {
    right: 70px;
  }
  .slider-videos::scroll-button(right) {
    right: 10px;
    transform: rotate(180deg);
  }
  .slider-videos::scroll-button(right):disabled,
  .slider-videos::scroll-button(left):disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

@media (max-width: 1680px) {
  .block-07 .slider-videos {
    margin-left: 10px;
  }
  .block-07 .slider-videos .slide:last-child {
    margin-right: 10px;
  }
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-07 {
    margin-top: 60px;
  }
  .block-07 .slider-videos {
    gap: 8px;
  }
  .block-07 .slider-videos .slide {
    flex: 0 0 380px;
    width: 380px;
  }
  .block-07 .slider-videos::scroll-button(right),
  .block-07 .slider-videos::scroll-button(left) {
    width: 36px;
    height: 36px;
  }
  .block-07 .slider-videos::scroll-button(left) {
    right: 58px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
  .block-07 .slider-videos .slide {
    flex: 0 0 310px;
    width: 310px;
  }
}
