.block-16 {
  position: relative;
  padding-block: 10px 60px;
  z-index: 40;
  .block-top {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    .h1 {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--accent-color);
    }
    .h2 {
      color: var(--accent-color);
    }
  }
  .block-products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    gap: 16px;
    .product {
      max-width: calc(25% - 12px);
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-16 .block-products .product {
    max-width: calc(33% - 8px);
  }
}
@media (max-width: 991px) {
  .block-16 .block-products .product {
    max-width: calc(50% - 8px);
  }
}
@media (max-width: 768px) {
  .block-16 .block-products {
    gap: 8px;
  }
  .block-16 .block-products .product {
    max-width: calc(50% - 4px);
  }
}
@media (max-width: 576px) {
  .block-16 .block-top .h1 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-size: 36px;
  }
  .block-16 .block-products {
    justify-content: center;
  }
  .block-16 .block-products .product {
    max-width: 80%;
  }
}
@media (max-width: 460px) {
  .block-16 .block-products .product {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
}
