.block-10 {
  position: relative;
  padding-block: 40px;
  z-index: 40;
  .h2 {
    margin-bottom: 24px;
    text-align: center;
  }
  .block-ozon {
    position: relative;
    display: block;
    width: 100%;
    padding: 56px;
    border: 1px solid var(--accent-color);
    border-radius: 24px;
    overflow: hidden;
    .block-ozon__image {
      position: absolute;
      top: 50%;
      left: -380px;
      display: block;
      width: 1680px;
      max-width: none;
      height: 1680px;
      object-fit: contain;
      transform: translateY(-50%);
      animation: block-10-image 500s linear infinite;
      z-index: 2;
    }
    .block-ozon__wrap {
      position: relative;
      display: block;
      width: 100%;
      max-width: 600px;
      margin-bottom: 24px;
      z-index: 10;
    }
    .block-ozon__suptitle {
      position: relative;
      display: block;
      width: 100%;
      max-width: 600px;
      margin-bottom: 24px;
      padding: 12px 20px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 22px;
      text-align: center;
      color: var(--accent-02);
      border: 1px solid var(--accent-02);
      border-radius: 100px;
      z-index: 10;
    }
    .block-ozon__title {
      display: block;
      width: 100%;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 72px;
      line-height: 1.4;
      color: var(--accent-color);
    }
    .block-ozon__name {
      position: absolute;
      top: calc(50% - 10px);
      right: -150px;
      display: block;
      width: 100%;
      max-width: max-content;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 90px;
      line-height: 1.4;
      color: var(--accent-color);
      transform: translateY(-50%);
    }
    .descr {
      position: relative;
      display: block;
      width: 100%;
      max-width: 600px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: var(--accent-02);
      z-index: 10;
    }
  }
}

@keyframes block-10-image {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateY(-50%) rotate(3600deg);
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block-10 .block-ozon .block-ozon__image {
    width: 1480px;
    height: 1480px;
  }
}
@media (max-width: 1199px) {
  .block-10 .block-ozon {
    padding: 40px;
  }
  .block-10 .block-ozon .block-ozon__image {
    width: 1340px;
    height: 1340px;
  }
  .block-10 .block-ozon .block-ozon__wrap {
    max-width: 490px;
  }
  .block-10 .block-ozon .block-ozon__title {
    font-size: 58px;
  }
}
@media (max-width: 991px) {
  .block-10 .block-ozon {
    padding-bottom: 360px;
  }
  .block-10 .block-ozon .block-ozon__image {
    top: auto;
    bottom: 40px;
    left: 50%;
    transform: translateY(0);
  }
  @keyframes block-10-image {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }
    100% {
      transform: translateX(-50%) rotate(3600deg);
    }
  }
}
@media (max-width: 768px) {
  .block-10 .block-ozon {
    padding: 24px 24px 360px 24px;
  }
  .block-10 .block-ozon .block-ozon__wrap {
    max-width: 374px;
  }
  .block-10 .block-ozon .block-ozon__suptitle {
    font-size: 19px;
  }
  .block-10 .block-ozon .block-ozon__title {
    font-size: 48px;
    line-height: 1.3;
  }
  .block-10 .block-ozon .block-ozon__name {
    top: calc(50% - 5px);
    right: -146px;
    font-size: 70px;
  }
}
@media (max-width: 576px) {
  .block-10 .block-ozon {
    padding: 18px 18px 290px 18px;
  }
  .block-10 .block-ozon .block-ozon__image {
    width: 1040px;
    height: 1040px;
  }
  .block-10 .block-ozon .block-ozon__suptitle {
    padding: 8px 14px;
    font-size: 15px;
  }
  .block-10 .block-ozon .block-ozon__wrap {
    max-width: 296px;
  }
  .block-10 .block-ozon .block-ozon__title {
    font-size: 38px;
  }
  .block-10 .block-ozon .block-ozon__name {
    top: calc(50% - 4px);
    right: -106px;
    font-size: 52px;
  }
}
@media (max-width: 460px) {
  .block-10 .block-ozon .block-ozon__wrap {
    max-width: 260px;
  }
  .block-10 .block-ozon .block-ozon__title {
    font-size: 32px;
  }
  .block-10 .block-ozon .block-ozon__name {
    top: calc(50% - 3px);
    right: -82px;
    font-size: 44px;
  }
}
@media (max-width: 400px) {
  .block-10 .block-ozon .block-ozon__wrap {
    max-width: 228px;
  }
  .block-10 .block-ozon .block-ozon__title {
    font-size: 28px;
  }
  .block-10 .block-ozon .block-ozon__name {
    right: -77px;
    font-size: 40px;
  }
}
