.block-09 {
  position: relative;
  padding-block: 60px;
  z-index: 40;
  .container {
    max-width: 1160px;
  }
  .block-title {
    display: block;
    width: 100%;
    margin-bottom: 32px;
    padding-bottom: 32px;
    text-align: center;
    border-bottom: 1px solid #ececec;
    .h2 {
      margin-bottom: 8px;
    }
    .sub_title {
      font-weight: 400;
    }
  }
  .block-faq-block {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 32px;
    border-bottom: 1px solid #ececec;
    .descr {
      display: block;
      width: 100%;
      margin-bottom: 12px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 20px;
      line-height: 1.4;
      color: var(--black-color);
      &.descr-title {
        padding-right: 40px;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          width: 36px;
          height: 36px;
          background: url("../img/block-09/icon-play.svg") center / contain no-repeat;
          transform: translateY(-50%);
        }
      }
    }
    .descr.descr-popup {
      margin-bottom: 40px;
      padding-left: 32px;
      font-size: 17px;
      color: var(--accent-color);
      cursor: pointer;
      span {
        border-bottom: 1px dotted var(--accent-color);
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 24px;
        height: 24px;
        background: url("../img/block-09/icon-calendar.svg") center / contain no-repeat;
        transform: translateY(-50%);
      }
    }
    iframe {
      display: block;
      width: 100%;
      height: inherit;
      aspect-ratio: 16 / 9;
      border-radius: 10px;
    }
  }
  .faq-accordion {
    display: block;
    width: 100%;
    .panel {
      padding-block: 28px;
      border-bottom: 1px solid #ebebeb;
      .panel-heading {
        position: relative;
        display: block;
        width: 100%;
        padding-right: 36px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 20px;
        line-height: 1.4;
        color: var(--black-color);
        cursor: pointer;
        .heading-button {
          position: absolute;
          top: 50%;
          right: 0;
          display: block;
          width: 26px;
          height: 26px;
          border-radius: 100px;
          transform: translateY(-50%);
          transition: all 0.3s ease;
          &:before,
          &:after {
            content: "";
            top: 50%;
            left: 50%;
            position: absolute;
            background-color: var(--accent-color);
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;
          }
          &:before {
            width: 100%;
            height: 1px;
          }
          &:after {
            width: 1px;
            height: 100%;
          }
        }
        &.in .heading-button {
          transform: translateY(-50%) rotate(45deg);
        }
      }
      .panel-collapse {
        display: none;
        .panel-body {
          padding-top: 20px;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 1.4;
          color: var(--black-color);
        }
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-09 .block-faq-block .descr,
  .block-09 .faq-accordion .panel .panel-heading {
    font-size: 17px;
  }
  .block-09 .block-faq-block .descr.descr-popup,
  .block-09 .faq-accordion .panel .panel-collapse .panel-body {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .block-09 .block-faq-block .descr,
  .block-09 .faq-accordion .panel .panel-heading {
    font-size: 15px;
  }
  .block-09 .block-faq-block .descr.descr-popup,
  .block-09 .faq-accordion .panel .panel-collapse .panel-body {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
}
