.block-18 {
  position: relative;
  padding-block: 60px 30px;
  z-index: 40;
  .h2 {
    margin-bottom: 8px;
  }
  .descr {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--black-color);
  }
  .products-color {
    gap: 40px 6px;
    .product-color {
      max-width: calc(20% - 6px);
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-18 .descr br {
    display: none;
  }
  .block-18 .products-color .product-color {
    max-width: calc(25% - 6px);
  }
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-18 .products-color .product-color {
    max-width: calc(34% - 8px);
  }
}
@media (max-width: 460px) {
  .block-18 .products-color .product-color {
    max-width: calc(50% - 4px);
  }
}
@media (max-width: 400px) {
}
