.block-07 {
  position: relative;
  padding-block: 60px 40px;
  z-index: 40;
  .h2 {
    margin-bottom: 24px;
  }
  .items-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 16px;
    .item-video {
      display: block;
      padding: 8px;
      border-radius: 10px;
      background-color: var(--accent-02);
      iframe {
        display: block;
        width: 100%;
        height: inherit;
        margin-bottom: 8px;
        aspect-ratio: 16 / 9;
        border-radius: 10px;
      }
      .item-descr {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: var(--white-color);
      }
      &.hidden-video {
        display: none;
      }
    }
  }
  .show-more-container {
    text-align: center;
    margin-top: 30px;
    .show-more-btn {
      padding: 12px 30px;
      font-size: 16px;
      color: white;
      background-color: var(--accent-color);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .block-07 .items-video {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}
@media (max-width: 400px) {
}
