.block-11 {
  position: relative;
  padding-block: 40px 130px;
  z-index: 40;
  .h2 {
    margin-bottom: 122px;
  }
  .block-items {
    position: relative;
    .block-item {
      align-content: center;
      .block-item__icon {
        display: block;
        width: 20px;
        height: 20px;
        margin-bottom: 32px;
        object-fit: contain;
      }
      .block-item__label {
        display: block;
        width: 100%;
        margin-bottom: 8px;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 22px;
        color: var(--black-color);
      }
      .block-item__descr {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: var(--font-weight);
        font-size: 17px;
        color: var(--gray-color);
      }
      &.block-item-01 {
        position: absolute;
        top: -80px;
        left: calc(50% - 560px);
        width: 620px;
        height: 620px;
        padding: 120px;
        background: url("../img/block-11/vector-01.svg") center / contain no-repeat;
        transform: translateX(-50%);
        z-index: 5;
      }
      &.block-item-02 {
        width: 640px;
        height: 690px;
        padding: 120px;
        background: url("../img/block-11/vector-02.svg") center / contain no-repeat;
        z-index: 2;
      }
      &.block-item-03 {
        position: absolute;
        bottom: -80px;
        left: calc(50% + 560px);
        width: 620px;
        height: 620px;
        padding: 120px;
        background: url("../img/block-11/vector-03.svg") center / contain no-repeat;
        transform: translateX(-50%);
        z-index: 5;
      }
    }
  }
}

@media (max-width: 1780px) {
  .block-11 .block-items .block-item.block-item-01 {
    left: calc(50% - 500px);
    width: 560px;
    height: 560px;
  }
  .block-11 .block-items .block-item.block-item-03 {
    width: 560px;
    height: 560px;
    left: calc(50% + 500px);
  }
}
@media (max-width: 1640px) {
  .block-11 .block-items .block-item.block-item-02 {
    width: 540px;
    height: 600px;
    padding: 100px;
  }
  .block-11 .block-items .block-item.block-item-01 {
    left: calc(50% - 440px);
    width: 470px;
    height: 470px;
  }
  .block-11 .block-items .block-item.block-item-03 {
    width: 470px;
    height: 470px;
    left: calc(50% + 440px);
  }
}
@media (max-width: 1366px) {
  .block-11 .block-items .block-item.block-item-02 {
    width: 480px;
    height: 560px;
    padding: 80px;
  }
  .block-11 .block-items .block-item.block-item-01 {
    left: calc(50% - 400px);
    width: 420px;
    height: 420px;
    padding: 90px;
  }
  .block-11 .block-items .block-item.block-item-03 {
    width: 420px;
    height: 420px;
    left: calc(50% + 400px);
    padding: 90px;
  }
}
@media (max-width: 1199px) {
  .block-11 .block-items .block-item.block-item-02 {
    width: 400px;
    height: 480px;
    padding: 70px;
  }
  .block-11 .block-items .block-item.block-item-01 {
    left: calc(50% - 340px);
    width: 360px;
    height: 360px;
    padding: 70px;
  }
  .block-11 .block-items .block-item.block-item-03 {
    left: calc(50% + 340px);
    width: 360px;
    height: 360px;
    padding: 70px;
  }
}
@media (max-width: 991px) {
  .block-11 {
    padding-block: 30px 40px;
  }
  .block-11 .h2 {
    margin-bottom: 40px;
    text-align: center;
  }
  .block-11 .block-items .block-item.block-item-01,
  .block-11 .block-items .block-item.block-item-03 {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    width: 460px;
    height: 460px;
    transform: translate(0, 0);
  }
  .block-11 .block-items .block-item.block-item-02 {
    width: 460px;
    height: 460px;
    z-index: 8;
  }
  .block-11 .block-items .block-item.block-item-02,
  .block-11 .block-items .block-item.block-item-03 {
    margin-top: -40px;
  }
  .block-11 .block-items .block-item.block-item-03 {
    z-index: 12;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-11 .block-items .block-item.block-item-01,
  .block-11 .block-items .block-item.block-item-02,
  .block-11 .block-items .block-item.block-item-03 {
    width: 420px;
    height: 420px;
    padding: 60px;
  }
}
@media (max-width: 460px) {
  .block-11 .block-items .block-item.block-item-01,
  .block-11 .block-items .block-item.block-item-02,
  .block-11 .block-items .block-item.block-item-03 {
    width: 400px;
    height: 400px;
    padding: 50px;
  }
  .block-11 .block-items .block-item .block-item__label {
    font-size: 19px;
  }
  .block-11 .block-items .block-item .block-item__descr {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .block-11 .block-items .block-item.block-item-01,
  .block-11 .block-items .block-item.block-item-02,
  .block-11 .block-items .block-item.block-item-03 {
    width: 340px;
    height: 340px;
    padding: 40px;
  }
}
