.block-20 {
  position: relative;
  padding-block: 10px 60px;
  z-index: 40;
  .h1 {
    margin-bottom: 60px;
  }
  .blog-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 40px 16px;
    .blog-item {
      position: relative;
      display: block;
      background-color: #f8f7ff;
      border-radius: 16px;
      transition: all 0.3s ease;
      overflow: hidden;
      .blog-item__badge {
        position: absolute;
        top: 16px;
        left: 16px;
        display: block;
        width: 100%;
        max-width: max-content;
        padding: 6px 18px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.3;
        color: var(--black-color);
        background-color: #f8f7ff;
        border-radius: 100px;
        z-index: 10;
      }
      .blog-item__image {
        display: block;
        width: 100%;
        height: 280px;
        object-fit: cover;
        transition: all 0.3s ease;
      }
      .blog-item__content {
        padding: 16px 16px 52px 16px;
      }
      .blog-item__title {
        display: block;
        width: 100%;
        margin-bottom: 12px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 22px;
        line-height: 1.3;
        color: var(--black-color);
        transition: all 0.3s ease;
      }
      .blog-item__descr {
        display: block;
        width: 100%;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        color: var(--black-color);
        transition: all 0.3s ease;
      }
      .blog-item__link {
        position: absolute;
        bottom: 16px;
        left: 16px;
        display: block;
        width: 100%;
        max-width: calc(100% - 32px);
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.3;
        color: var(--black-color);
        transition: all 0.3s ease;
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-20 .blog-items {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 24px 8px;
  }
  .block-20 .blog-items .blog-item .blog-item__badge {
    top: 14px;
    left: 14px;
    font-size: 12px;
  }
  .block-20 .blog-items .blog-item .blog-item__image {
    height: 210px;
  }
  .block-20 .blog-items .blog-item .blog-item__content {
    padding: 14px 14px 52px 14px;
  }
  .block-20 .blog-items .blog-item .blog-item__title {
    font-size: 19px;
  }
  .block-20 .blog-items .blog-item .blog-item__descr {
    font-size: 15px;
  }
  .block-20 .blog-items .blog-item .blog-item__link {
    bottom: 14px;
    left: 14px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
  .block-20 .blog-items {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
