.block-21 {
  position: relative;
  padding-block: 10px 60px;
  z-index: 40;
  .container {
    max-width: 780px;
  }
  .h2 {
    margin-bottom: 40px;
  }
  .block-content {
    gap: 24px;
  }
  iframe {
    display: block;
    width: 100%;
    height: inherit;
    aspect-ratio: 16 / 9;
  }
  .wp-block-image {
    width: 100%;
  }
  .wp-block-image img {
    width: 100%;
  }
  p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
  }
  p,
  .wp-block-list {
    display: block;
    width: 100%;
    li {
      position: relative;
      display: block;
      width: 100%;
      padding-left: 18px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 1.3;
      color: var(--black-color);
      &:before {
        content: "";
        position: absolute;
        left: 0;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
  ul.wp-block-list {
    li {
      &:before {
        top: 8px;
        display: block;
        width: 6px;
        height: 6px;
        background-color: var(--black-color);
        border-radius: 20px;
      }
    }
  }
  ol.wp-block-list {
    counter-reset: myCounter;
    li {
      &:before {
        counter-increment: myCounter;
        content: counter(myCounter);
        top: 0;
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
