.block-21 {
  position: relative;
  padding-block: 10px 60px;
  z-index: 40;
  .h2 {
    margin-bottom: 40px;
  }
  .block-content {
    gap: 24px;
  }
  .wp-block-image {
    width: 100%;
  }
  .wp-block-image img {
    width: 100%;
  }
  .wp-block-list {
    li {
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
