.block-12 {
  position: relative;
  padding-block: 40px 80px;
  z-index: 40;
  .container {
    position: relative;
    align-content: center;
    width: var(--container);
    max-width: calc(100% - 20px);
    padding: 80px 140px;
    background-color: #f2f4fc;
    border-radius: 24px;
    overflow: hidden;
    .block-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      object-fit: cover;
      z-index: 2;
    }
    .block-wrap {
      position: relative;
      max-width: 420px;
      z-index: 10;
    }
    .h2 {
      margin-bottom: 12px;
      line-height: 1.3;
    }
    .descr {
      display: block;
      width: 100%;
      margin-bottom: 24px;
      font-family: var(--font-family);
      font-weight: var(--font-weight);
      font-size: 18px;
      color: var(--black-color);
    }
    .image-block {
      max-width: 360px;
      border-radius: 16px;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .block-12 .container {
    padding: 70px 90px;
  }
}
@media (max-width: 1199px) {
  .block-12 .container {
    padding: 50px;
  }
  .block-12 .container .block-bg {
    width: 54%;
  }
}
@media (max-width: 991px) {
  .block-12 .container {
    justify-content: flex-start;
    padding-bottom: 200px;
  }
  .block-12 .container .block-bg {
    top: auto;
    bottom: 0;
    width: 480px;
    height: inherit;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-12 .container {
    padding-inline: 24px;
  }
  .block-12 .container .block-bg {
    width: 100%;
    max-width: 80%;
  }
  .block-12 .container .image-block {
    width: 100%;
    max-width: 70%;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
