.block-16 {
  position: relative;
  padding-block: 10px 60px;
  z-index: 40;
  .block-top {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    .h1 {
      margin-bottom: 24px;
      padding-bottom: 24px;
      border-bottom: 1px solid var(--accent-color);
    }
    .h2 {
      color: var(--accent-color);
    }
  }
  .block-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 16px;
    .product {
      max-width: 100%;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
  .block-16 .block-products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .block-16 .block-top .h1 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-size: 36px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
