.btn {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 9px 18px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  color: var(--accent-color);
  text-align: center;
  border-radius: 30px;
  border: 1px solid var(--accent-color);
}
