.h2 {
  position: relative;
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.4;
  color: var(--black-color);
}

@media (max-width: 991px) {
  .h2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .h2 {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .h2 {
    font-size: 28px;
  }
}
@media (max-width: 460px) {
  .h2 {
    font-size: 27px;
  }
}
