.product-color {
  display: block;
  width: 100%;
  max-width: 336px;
  .product-color__image {
    display: block;
    width: 100%;
    height: inherit;
    aspect-ratio: 1 / 1;
    margin-bottom: 12px;
    object-fit: cover;
  }
  .product-color__label {
    display: block;
    width: 100%;
    margin-bottom: 6px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 19px;
    line-height: 1.3;
    color: var(--black-color);
  }
  .product-color__articulate {
    display: block;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 1.3;
    color: var(--accent-color);
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .product-color .product-color__label {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .product-color .product-color__label {
    font-size: 15px;
  }
  .product-color .product-color__articulate {
    font-size: 14px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
