@use "./data/reset";
@use "../fonts/stylesheet.css";

@use "./data/function";

@use "./data/global";

// data
@use "./data/header";
@use "./data/footer";
@use "./data/popup";
@use "./data/gallery-popup";
@use "./data/wpcf7";
@use "./data/social";
@use "./data/marquee";
@use "./data/breadcrumbs";

// components
@use "./components/h1";
@use "./components/h2";
@use "./components/sub_title";
@use "./components/descr";
@use "./components/btn";
@use "./components/product";
@use "./components/product-color";
// @use "components/sect-title";
// @use "components/btn";
// @use "components/link";
// @use "components/breadcrumbs";

// blocks
@use "./blocks/block-01";
@use "./blocks/block-02";
@use "./blocks/block-03";
@use "./blocks/block-04";
@use "./blocks/block-05";
@use "./blocks/block-06";
@use "./blocks/block-07";
@use "./blocks/block-08";
@use "./blocks/block-09";
@use "./blocks/block-10";
@use "./blocks/block-11";
@use "./blocks/block-12";
@use "./blocks/block-13";
@use "./blocks/block-14";
@use "./blocks/block-15";
@use "./blocks/block-16";
@use "./blocks/block-17";
@use "./blocks/block-18";
@use "./blocks/block-19";

// animations
@use "./data/animations";
@use "./data/not-found";
@use "./data/thank-you";

// hover
@use "./data/hover";

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
