.footer {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 40px;
  background-color: #edecf2;
  z-index: 80;
  .footer-top {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dddbe4;
    .logotype {
      display: block;
      img {
        display: block;
        width: 210px;
        height: inherit;
        object-fit: contain;
      }
    }
    .link-to-top {
      img {
        display: block;
        width: 44px;
        height: 44px;
        object-fit: contain;
      }
    }
  }
  .footer-content {
  }
  .footer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    width: 100%;
    max-width: 30%;
    .descr {
      display: block;
      width: 100%;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 18px;
      line-height: 1.3;
      color: var(--accent-color);
    }
  }
  .footer-navigation {
    display: block;
    width: 100%;
    max-width: 220px;
    &.footer-navigation-parts {
      max-width: 540px;
      .footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0 32px;
        .menu-item {
          max-width: calc(50% - 16px);
        }
      }
    }
    .footer-navigation__title {
      display: block;
      width: 100%;
      margin-bottom: 24px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 19px;
      color: var(--black-color);
      opacity: 0.8;
    }
    .footer-menu {
      .menu-item {
        display: block;
        width: 100%;
        a {
          display: block;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 16px;
          line-height: 1.4;
          color: var(--black-color);
          transition: var(--transition);
        }
        &:not(:last-child) {
          padding-bottom: 12px;
        }
      }
    }
  }
  .footer-bottom {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #dddbe4;
    .descr {
      display: block;
      width: 100%;
      max-width: max-content;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      color: var(--black-color);
    }
    .theme-social-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      gap: 16px;
      width: 100%;
      max-width: max-content;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
  .footer .footer-navigation {
    max-width: 180px;
  }
}
@media (max-width: 1199px) {
  .footer .footer-content {
    gap: 40px;
  }
  .footer .footer-block {
    max-width: 100%;
  }
  .footer .footer-block .descr:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer .footer-navigation {
    max-width: 300px;
  }
  .footer .footer-navigation.footer-navigation-parts {
    max-width: calc(100% - 342px);
  }
}
@media (max-width: 991px) {
  .footer .footer-navigation {
    max-width: 200px;
  }
  .footer .footer-navigation.footer-navigation-parts {
    max-width: calc(100% - 242px);
  }
}
@media (max-width: 768px) {
  .footer .footer-navigation,
  .footer .footer-navigation.footer-navigation-parts,
  .footer .footer-bottom .descr {
    max-width: 100%;
  }
  .footer .footer-bottom {
    justify-content: center;
  }
  .footer .footer-bottom .descr {
    margin-bottom: 24px;
    text-align: center;
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .footer .footer-navigation.footer-navigation-parts .footer-menu .menu-item {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
}
