.header {
  position: absolute;
  top: 37px;
  left: 50%;
  display: block;
  width: 100%;
  max-width: 1920px;
  transform: translateX(-50%);
  transition: all 0.4s ease;
  z-index: 90;
  .container {
  }
  .logotype {
    max-width: 510px;
    img {
      display: block;
      width: 210px;
      height: inherit;
      object-fit: contain;
    }
    .logotype-text {
      display: block;
      width: 100%;
      max-width: calc(100% - 220px);
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      color: var(--accent-color);
    }
  }
  .header-menus {
    max-width: calc(100% - 700px);
  }
  .header-menu {
    max-width: max-content;
    .menu-item {
      position: relative;
      a {
        display: block;
        padding: 26px 22px;
        font-family: "Golos Text", Arial, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.4;
        color: var(--accent-color);
        background-color: var(--bgc-color);
        opacity: 0.75;
        transition: var(--transition);
      }
      ul.sub-menu {
        position: absolute;
        left: 0;
        top: 150%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 16px;
        width: 540px;
        padding: 12px;
        background-color: var(--bgc-color);
        z-index: 9999;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        .menu-item {
          display: block;
          width: 100%;
          max-width: calc(50% - 8px);
          a {
            padding: 8px 16px;
            font-size: 15px;
            background-color: transparent;
          }
        }
      }
    }
  }
  .header-social {
    padding: 14px;
    background-color: var(--bgc-color);
    opacity: 0.75;
    transition: var(--transition);
    img {
      display: block;
      width: 32px;
      height: inherit;
      object-fit: contain;
    }
  }
  .basket-link {
    position: relative;
    display: block;
    gap: 8px;
    width: 70px;
    height: inherit;
    background-color: var(--bgc-color);
    opacity: 0.75;
    transition: var(--transition);
    &:before {
      content: attr(data-icon);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    span {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 24px;
      height: 24px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      text-align: center;
      color: var(--white-color);
      background-color: var(--accent-color);
      border-radius: 100px;
      z-index: 10;
    }
  }
  .burger {
    position: relative;
    display: none;
    width: 46px;
    height: inherit;
    padding: 0 12px;
    background-color: var(--bgc-color);
    transition: var(--transition);
    opacity: 0.75;
    border-radius: 0;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: calc(100% - 12px);
      height: 3px;
      background-color: var(--accent-color);
      border-radius: 10px;
      transform: translate(-50%, -50%);
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--accent-color);
        border-radius: 10px;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
  &.header-page {
    background-color: #f8f7ff;
    .header-menu .menu-item a,
    .header-social {
      background-color: transparent;
    }
    .basket-link {
      background-color: #f8f7ff;
    }
    .header-menu .menu-item ul.sub-menu {
      background-color: #f8f7ff;
    }
  }
  &.marquee-added {
    top: 36px;
  }
}

.header-mobile {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(0%);
  transition: all 0.4s ease;
  z-index: -1;
  .header-mobile__content {
    align-content: flex-start;
    width: 480px;
    max-width: 94%;
    height: 100vh;
    padding: 16px;
    background-color: var(--accent-color);
    overflow-y: scroll;
    .header-mobile__content-top {
      margin-bottom: 48px;
    }
    .logotype {
      display: block;
      width: 210px;
      height: inherit;
      object-fit: contain;
    }
    .close-menu {
      position: relative;
      display: block;
      width: 36px;
      height: 36px;
      span {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: var(--white-color);
        border-radius: 3px;
        transform: translateY(-50%);
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 3px;
          background-color: var(--white-color);
          transition: all 0.4s ease;
        }
        &:before {
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
    .header-menu {
      display: block;
      width: 100%;
      margin-bottom: 48px;
      .menu-item {
        display: block;
        width: 100%;
        a {
          position: relative;
          display: block;
          width: 100%;
          padding-left: 24px;
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 18px;
          line-height: 1.2;
          color: var(--white-color);
          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 2px;
            display: block;
            width: 6px;
            height: 6px;
            background-color: var(--white-color);
            border-radius: 20px;
            transform: translateY(-50%);
          }
        }
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }
    .header-button {
      position: relative;
      display: block;
      width: 100%;
      max-width: max-content;
      padding-block: 8px;
      font-family: var(--font-family);
      font-weight: 600;
      font-size: 18px;
      line-height: 1.2;
      color: var(--white-color);
      transition: all 0.4s ease;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 2px;
        background-color: var(--white-color);
        animation: button-line 2.4s ease infinite;
        transition: all 0.4s ease;
      }
    }
  }
  &.active {
    left: 0;
    z-index: 190;
    .header-mobile__content {
      animation: header-mobile-content-show 1.2s ease forwards;
    }
  }
}

@keyframes header-mobile-content-show {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes button-line {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1680px) {
  .header .header-menus {
    max-width: calc(100% - 526px);
  }
  .header.header-page .header-menus {
    max-width: calc(100% - 530px);
  }
}
@media (max-width: 1366px) {
  .header .logotype {
    max-width: 450px;
  }
  .header .logotype img {
    width: 180px;
  }
  .header .logotype .logotype-text {
    max-width: calc(100% - 194px);
    font-size: 12px;
  }
  .header.header-page .header-menus {
    max-width: calc(100% - 470px);
  }
}
@media (max-width: 1199px) {
  .header .logotype {
    max-width: 396px;
  }
  .header .logotype img {
    width: 160px;
  }
  .header .logotype .logotype-text {
    max-width: calc(100% - 170px);
    font-size: 11px;
  }
  .header .header-menu .menu-item a {
    padding: 20px 24px;
    font-size: 10px;
  }
  .header .header-social img {
    width: 26px;
  }
  .header .header-menu .menu-item ul.sub-menu {
    gap: 12px;
    width: 420px;
  }
  .header .header-menu .menu-item ul.sub-menu .menu-item {
    max-width: calc(50% - 6px);
  }
  .header .header-menu .menu-item ul.sub-menu .menu-item a {
    padding: 4px 10px;
    font-weight: 400;
    font-size: 11px;
  }
  .header .header-menus {
    max-width: calc(100% - 430px);
  }
  .header.header-page .header-menus {
    max-width: calc(100% - 414px);
  }
}
@media (max-width: 991px) {
  .header .header-menu {
    display: none;
  }
  .header .burger {
    display: block;
  }
  .header-mobile .header-mobile__content .header-menu .menu-item {
    .sub-menu {
      padding-top: 12px;
      padding-left: 26px;
      .menu-item:not(:last-child) {
        margin-bottom: 6px;
      }
      a {
        padding-left: 16px;
        font-weight: 400;
        font-size: 15px;
        &:before {
          width: 4px;
          height: 4px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .header .logotype {
    max-width: max-content;
  }
  .header .logotype .logotype-text {
    display: none;
  }
  .header .header-menus {
    max-width: calc(100% - 240px);
  }
  .header.header-page .header-menus {
    max-width: calc(100% - 250px);
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
  .header .header-social {
    padding-inline: 8px;
  }
  .header .basket-link {
    width: 48px;
  }
  .header.header-page .header-menus {
    max-width: calc(100% - 180px);
  }
}
@media (max-width: 400px) {
  .header:not(.header-page) .header-menus {
    max-width: calc(100% - 220px);
  }
}
