.header {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 100%;
  max-width: 1920px;
  transform: translateX(-50%);
  transition: all 0.4s ease;
  z-index: 90;
  .container {
  }
  .logotype {
    max-width: 510px;
    img {
      display: block;
      width: 210px;
      height: inherit;
      object-fit: contain;
    }
    .logotype-text {
      display: block;
      width: 100%;
      max-width: calc(100% - 220px);
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 13px;
      color: var(--accent-color);
    }
  }
  .header-menus {
    max-width: calc(100% - 700px);
  }
  .header-menu {
    max-width: max-content;
    .menu-item {
      a {
        display: block;
        padding: 28px 32px;
        font-family: "Golos Text", Arial, sans-serif;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.4;
        color: var(--accent-color);
        background-color: var(--bgc-color);
        opacity: 0.75;
        transition: var(--transition);
      }
    }
  }
  .header-social {
    padding: 14px;
    background-color: var(--bgc-color);
    opacity: 0.75;
    transition: var(--transition);
    img {
      display: block;
      width: 32px;
      height: inherit;
      object-fit: contain;
    }
  }
  .burger {
    position: relative;
    display: none;
    width: 46px;
    height: inherit;
    padding: 0 12px;
    background-color: var(--bgc-color);
    transition: var(--transition);
    opacity: 0.75;
    border-radius: 0;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: calc(100% - 12px);
      height: 3px;
      background-color: var(--accent-color);
      border-radius: 10px;
      transform: translate(-50%, -50%);
      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: var(--accent-color);
        border-radius: 10px;
      }
      &:before {
        top: -8px;
      }
      &:after {
        top: 8px;
      }
    }
  }
}

@media (max-width: 1680px) {
  .header .header-menus {
    max-width: calc(100% - 488px);
  }
}
@media (max-width: 1366px) {
  .header .logotype {
    max-width: 450px;
  }
  .header .logotype img {
    width: 180px;
  }
  .header .logotype .logotype-text {
    max-width: calc(100% - 194px);
    font-size: 12px;
  }
}
@media (max-width: 1199px) {
  .header .logotype {
    max-width: 396px;
  }
  .header .logotype img {
    width: 160px;
  }
  .header .logotype .logotype-text {
    max-width: calc(100% - 170px);
    font-size: 11px;
  }
  .header .header-menu .menu-item a {
    padding: 20px 24px;
    font-size: 10px;
  }
  .header .header-social img {
    width: 26px;
  }
}
@media (max-width: 991px) {
  .header .header-menu {
    display: none;
  }
  .header .burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .header .logotype {
    max-width: max-content;
  }
  .header .logotype .logotype-text {
    display: none;
  }
  .header .header-menus {
    max-width: calc(100% - 240px);
  }
}
@media (max-width: 576px) {
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
