@media (hover: hover) and (pointer: fine) {
  // ******
  // header
  .header .header-menu .menu-item a:hover,
  .header .header-social:hover {
    color: #ffffff;
    background-color: rgba(#5765ae, 0.8);
  }

  // **********
  // components
  .btn.btn-standard:hover {
    color: var(--white-color);
    background-color: rgba(#5765ae, 0.4);
    border-color: transparent;
  }

  // ******
  // blocks
  .block-04 .block-category:hover,
  .block-05 .slider-products .slider-product:hover {
    background-color: rgba(#5765ae, 0.2);
  }

  .block-08 .our-works:hover {
    background-color: rgba(#5765ae, 0.7);
  }

  .block-09 .faq-accordion .panel .panel-heading:hover .heading-button {
    background-color: rgba(#bdbdbd, 0.6);
    &:before {
      width: 60%;
    }
    &:after {
      height: 60%;
    }
  }
}
