@media (hover: hover) and (pointer: fine) {
  // ******
  // header
  .header .header-menu .menu-item a:hover,
  .header .header-social:hover {
    color: #ffffff;
    background-color: rgba(#5765ae, 0.8);
  }

  // **********
  // components
}
