@media (hover: hover) and (pointer: fine) {
  // ******
  // header
  .header .header-menu .menu-item a:hover,
  .header .header-social:hover,
  .header .basket-link:hover {
    color: #ffffff;
    background-color: rgba(#5765ae, 0.8);
    svg {
      stroke: #fff;
    }
    span {
      color: #ffffff;
    }
  }
  .header .header-menu .menu-item:hover > ul.sub-menu {
    top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    visibility: visible;
  }
  .header .header-menu .menu-item ul.sub-menu .menu-item a:hover {
    color: var(--accent-color);
    background-color: #fff;
  }

  // ******
  // footer
  .footer .footer-navigation .footer-menu .menu-item a:hover {
    color: rgba(#5765ae, 0.8);
  }

  // **********
  // components
  .btn.btn-standard:hover {
    color: var(--white-color);
    background-color: rgba(#5765ae, 0.4);
    border-color: transparent;
  }

  // ******
  // blocks
  .block-04 .block-category:hover,
  .block-05 .slider-products .slider-product:hover {
    background-color: rgba(#5765ae, 0.2);
  }

  .block-07 .show-more-container .show-more-btn:hover {
    background-color: rgba(#5765ae, 0.7);
  }

  .block-08 .our-works:hover {
    background-color: rgba(#5765ae, 0.7);
  }

  .block-09 .faq-accordion .panel .panel-heading:hover .heading-button {
    background-color: rgba(#bdbdbd, 0.6);
    &:before {
      width: 60%;
    }
    &:after {
      height: 60%;
    }
  }

  .block-14 .block-wrap .link-vk:hover {
    background-color: rgba(#5765ae, 0.7);
  }

  .block-17 .block-content .product-order:hover {
    background-color: rgba(#5765ae, 0.7);
  }

  .block-18 .block-link:hover {
    background-color: rgba(#5765ae, 0.7);
  }

  .block-20 .blog-items .blog-item:hover {
    background-color: rgba(#5765ae, 0.7);
    .blog-item__title,
    .blog-item__descr,
    .blog-item__link {
      color: var(--white-color);
    }
    .blog-item__image {
      transform: scale(1.05);
    }
  }

  // *******
  // product
  .product:hover {
    background-color: rgba(#5765ae, 0.5);
    .product-title,
    .product-descr,
    .product-price .price-new {
      color: #fff;
    }
  }
  .product .product-link:hover,
  .product .favorite-btn:hover {
    background-color: rgba(#5765ae, 0.7);
  }
  .product .favorite-btn:hover {
    transform: scale(1.08);
  }
}
