.wpcf7 {
  position: relative;
  display: block;
  width: 100%;
  .h2 {
    margin-bottom: 24px;
  }
  .wpcf7-form-control-wrap {
    display: block;
    width: 100%;
    .form-group_label {
      display: block;
      width: 100%;
      margin-bottom: 4px;
      padding-left: 14px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: var(--font-size);
      line-height: var(--font-height);
      color: var(--black-color);
    }
    input[type="text"],
    input[type="email"],
    textarea {
      display: block;
      width: 100%;
      padding: 10px 14px;
      font-family: var(--font-family);
      font-weight: 400;
      font-size: var(--font-size);
      line-height: var(--font-height);
      color: var(--black-color);
      background-color: var(--white-color);
      border-radius: 8px;
      border: 1px solid var(--accent-color);
      &::placeholder {
        color: var(--gray-color);
      }
    }
    input[type="checkbox"] {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 60px;
      height: 30px;
      opacity: 0;
      z-index: 2;
    }
    input[type="checkbox"]:checked + .wpcf7-list-item-label {
      &:before {
        background-color: var(--accent-color);
        border-color: var(--accent-color);
      }
      &:after {
        animation: checkbox-animate 0.8s ease forwards;
      }
    }
    textarea {
      max-height: 160px;
    }
    .wpcf7-not-valid-tip {
      width: 100%;
      padding-left: 4px;
      font-family: var(--font-family);
      font-weight: var(--font-weight);
      font-size: 12px;
      color: red;
    }
    .wpcf7-acceptance {
      span {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
      }
      label {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 100%;
      }
      .wpcf7-list-item-label {
        padding-left: 80px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 60px;
          height: 31px;
          background-color: #c4c4c4;
          border: 3px solid #c4c4c4;
          border-radius: 100px;
          transition: all 0.4s ease;
        }
        &:after {
          content: "";
          position: absolute;
          top: 3px;
          left: 3px;
          display: block;
          width: 25px;
          height: 25px;
          background-color: #ffffff;
          border-radius: 100px;
          transition: all 0.4s ease;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .form-group-submit {
    position: relative;
    input[type="submit"] {
      display: block;
      max-width: 100%;
      min-width: 240px;
      margin: 0 auto;
      padding: 8px 64px;
      font-family: var(--font-family);
      font-size: 18px;
      line-height: var(--font-height);
      text-align: center;
      color: var(--white-color);
      background-color: var(--accent-color);
      border: none;
      border-radius: 8px;
      transition: all 0.2s ease;
      &[disabled] {
        background-color: var(--gray-color);
      }
    }
    .wpcf7-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      transform: translate(-50%, -50%);
    }
  }
  form.invalid .wpcf7-response-output,
  form.unaccepted .wpcf7-response-output,
  form.payment-required .wpcf7-response-output,
  form.sent .wpcf7-response-output {
    font-size: 12px;
    color: var(--black-color);
    border-color: var(--accent-color);
  }
}

@keyframes checkbox-animate {
  0% {
    left: 3px;
  }
  10% {
    left: 3px;
    width: 32px;
  }
  90% {
    left: 32px;
  }
  100% {
    left: 32px;
    width: 25px;
  }
}

@media (max-width: 576px) {
  .wpcf7 .h2 {
    margin-bottom: 16px;
  }
  .wpcf7 .wpcf7-form-control-wrap input[type="text"],
  .wpcf7 .wpcf7-form-control-wrap input[type="email"],
  .wpcf7 .wpcf7-form-control-wrap textarea {
    padding: 8px 12px;
  }
  .wpcf7 .wpcf7-form-control-wrap textarea {
    max-height: 120px;
  }
  .wpcf7 .wpcf7-form-control-wrap:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
