@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Bold.woff2') format('woff2'),
        url('../fonts/GolosText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Regular.woff2') format('woff2'),
        url('../fonts/GolosText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Medium.woff2') format('woff2'),
        url('../fonts/GolosText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-SemiBold.woff2') format('woff2'),
        url('../fonts/GolosText-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-ExtraBold.woff2') format('woff2'),
        url('../fonts/GolosText-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/GolosText-Black.woff2') format('woff2'),
        url('../fonts/GolosText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

